<!doctype html>
<html>
<head>
  <title>Vehicles</title>

  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  
  

  <meta name="author" content="Euan Goddard">
  <meta name="description" content="Vehicle recognition game for kids">

  <link rel="canonical" href="https://vehicles.euans.space">

  <link href="//fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css">
  <!-- inject:css -->
  <link rel="stylesheet" href="/css/vehicles.css">
  <!-- endinject -->
<link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="img/favicons/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="img/favicons/favicon-194x194.png" sizes="194x194">
<link rel="icon" type="image/png" href="img/favicons/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="img/favicons/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="img/favicons/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="img/favicons/manifest.json">
<link rel="shortcut icon" href="img/favicons/favicon.ico">
<meta property="og:image" content="img/favicons/open-graph.png">
<meta name="theme-color" content="#8BC34A"></head>
<body ng-app="vehicles" ng-controller="GameController as game_controller">
  <name-capture class="dialog" ng-if="!game_controller.name"></name-capture>
  <vehicles ng-repeat="level in game_controller.levels" rows="level.rows" columns="level.columns" class="columns-{{ level.columns }} rows-{{ level.rows }} slide-in-out">
  </vehicles>
  <end-game class="dialog" ng-if="game_controller.is_complete"></end-game>

  <!-- inject:js -->
  <script src="/js/lib/angular.min.js"></script>
  <script src="/js/lib/angular-animate.min.js"></script>
  <script src="/js/lib/lodash.min.js"></script>
  <script src="/js/lib/service-worker-registration.js"></script>
  <script src="/js/app.js"></script>
  <!-- endinject -->
</body>
</html>