<!doctype html>
<html>
<head>
  <title>Vehicles</title>

  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <link href="//fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" type="text/css">
  <!-- inject:css -->
  <!-- endinject -->
</head>
<body ng-app="vehicles" ng-controller="GameController as game_controller">
  <div ng-controller="NameController as name_controller" id="name-capture" class="container" ng-if="!game_controller.name">
    <form name="capture" ng-submit="name_controller.read_name()">
      <h1>Let's play</h1>
      <input
        type="text"
        required
        ng-model="name"
        placeholder="what's your name"
        ng-disabled="is_submitted"
      >
      <div>
        <button
          type="submit"
          ng-disabled="capture.$invalid || is_submitted"
        >
            Play
          </button>
      </div>
    </form>
  </div>

  <!-- inject:js -->
  <!-- endinject -->
</body>
</html>