@import "utils";

.container, .list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.list {
	flex-direction: column;
}

@include media-orientation-query(portrait) {
    .container {
        flex-direction: column;
    }
    .list {
    	flex-direction: row;
    }
}

