@import "utils";

.container, .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container {
    height: 100vh;
    user-select: none;
}

.list {
    flex-direction: row;
}

.item {
    box-sizing: border-box;
    padding: 1rem;
}


@include media-min-width-query(769px) {
    .item {
        padding: 2rem;
    }
}

$max-slots: 3;
@for $i from 1 through $max-slots {
    .rows-#{$i} {
        .list, .item {
            height: floor(100vh / $i);
        }
    }
    .columns-#{$i} {
        .item {
            width: floor(100vw / $i);
        }
    }
}
