@import "constants";
@import "layout";
@import "colours";
@import "utils";
@import "name-capture";


$vehicle-size: 60%;

.vehicle {
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 100%;
    height: 100%;
}

@each $image-name in $image-names {

    .vehicle-#{$image-name} {
        background-image: url("../img/#{$image-name}.svg");
    }
}

body {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
    font-size: 18px;
}
